body{
    background-color: rgb(130, 173, 212);
    margin:0px;
}
.service {
    font-size: 11px;
    display: flex;
    justify-content :space-between;
    margin: 3px;
}
.Friends {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 650;
    margin-right: 13px;
    margin-left: 13px;
}
.Friends i {
    margin-left: 5px; 
    font-size: 15px;
}
#arrow{
    margin-right: 45px;
}
.week{
    height: 135px;
}
.week p{
    background-color: rgba(0, 0, 0, 0.2);
    background-size: 100px 100px;
	border-radius: 30px 30px 30px 30px;
    text-align: center;
    line-height: 35px;
    color : rgb(255, 255, 255);
    font-size: 12px;
    position: absolute;
    left: 36%;
    top: 25%;
    width: 145px;
}
.nikko {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
}
.nikko img {
    border-radius: 60%;
}
#youto{
    display: flex;
    margin-left: 15px;
}
.you {
    display: flex;
}
.youSay{
    width: 55px;
    height: 55px;
}
#name{
    font-size: 12px;
    margin-left: 8px;
}
#message{
    background-color: rgba(255, 255, 255);
	border-radius: 0px 10px 10px 10px;
    text-align: center;
    line-height: 35px;
    width: 42px;
    margin-left: 8px;
    font-size: 15px;
}
#time{
    margin-top: 35px;
    font-size: 10px;
}
.me {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-bottom: 143px;
    margin-right: 25px;
}
#times{
    font-size: 10px;
    margin-top: 22px;
}
#messages{
    background-color: rgb(243, 216, 64);
	border-radius: 10px 0px 10px 10px;
    text-align: center;
    line-height: 32px;
    width: 150px;
    font-size: 14px;
    margin-left: 5px;
}
.lower {
    position: fixed;
    display: flex;
    background-color: white;
    border-radius: 15px;
    bottom: 0px;
    align-items: center;
    width: 100%;
    height: 40px;
}
.message_icon_container{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 15px;
}
.message_container {
    display: flex;
}
.icon_container{
    display: flex;
}
.one{
    display: flex;
    margin-left: 20px;
    font-size: 18px;
}
#chating{
    border: 1.5px solid rgb(189, 189, 189);
	border-radius: 30px 30px 30px 30px;
    
    height:35px;
    color: gray;
    font-size: 13px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    
}
#chating input {
    width: 100%;
    border: none;
    outline: none;
}
#icon_up {
    margin-left: 5px;
    margin-right: 5px;
}
/*#chating{
    background-color: rgb(233, 233, 233);
	border-radius: 30px 0px 0px 30px;
    text-align: left;
    line-height: 40px;
    color: gray;
    font-size: 13px;
    width: 500px;
    position: absolute;  
    margin-top: 2px;  
}*/