body {
    margin:0px;
}
.service {
    font-size: 13px;
    display: flex;
    justify-content :space-between; 
}
.Friends {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 650;
    margin-left:13px; 
    margin-right:13px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Friends i {
    font-size: 15px;
    margin-left:22px; 
}
.middle{
    border: 1.5px solid rgb(207, 207, 207);
    margin-left: 10px;
    color: gray;
    font-size: 13px;
    font-weight: 550;
    border-left: none;
    border-right: none;
    width: 465px;
}
.Max{
    font-size: 11px;
}
.Min{
    text-align: center;
}
.last{
    display: flex;
    margin-left: 10px;
    color: gray;
    font-size: 13px;
    font-weight: 550;
    justify-content: space-between;
}
.big-R{
    color: rgb(196, 196, 196);
    margin-right: 10px;
}
#end{
    justify-content: space-between;
}
#left{
    font-weight: 550;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 50px;
}
#two{
    color: gray;
}
#three{
    color: gray;
}
.lower {
    justify-content: space-around;
    background-color: rgb(245, 245, 245) ;
    width: 400px;
    height: 43px;
    font-size: 22px;
    border: 1.5px solid rgb(207, 207, 207);
    margin-left: -10px;
    margin-top: 60px;
}