.service {
    display: flex;
    justify-content :space-between; 
}
.Explanation {
    text-align: center; 
    width:310px; 
    margin-top: 50px;
    margin-left:auto; 
    margin-right:auto;
}
.Max {
    font-size: 19px;
    font-weight: 600;
}
.Explanation div {
    margin-top: -5px;
    font-size: 13px;
    font-weight: 100;
}
#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    margin-top: 80px;
    border: none;
}
.min {
    text-align: center;
    font-size: 5px;
    margin-top: 20px;
}