body {
    margin:0px;
}
.service {
    font-size: 11px;
    display: flex;
    justify-content :space-between;
    margin: 3px;
}
.Friends {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 650;
    margin-left:13px; 
    margin-right:13px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Friends i {
    font-size: 15px;
    margin-left:15px; 
}
.profile {
    display: flex;
    justify-content: space-between;
    margin-left: 13px;
    margin-right: 13px;
    font-size: 18px;
    font-weight: 550;
    height: 90px;
}
.profile img {
    margin-top: 8px;
    border-radius: 30%;
    overflow: hidden;
}
.jb {
    display: block;
    margin-top: 15px;
    margin-left: 15px;
    width: 360px;
}
#number{
    color: gray;
    font-size: 13px;
    font-weight: 500;
    /*넓이 조정과 플렉스 적용*/
}
.icon{
    height: 110px;
    border : 1.5px solid rgb(197, 195, 195);
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    margin-left: 13px;
    margin-right: 13px;
    font-size: 25px;
}
.icon p{
    color: gray;
    font-size: 12px;    
    font-weight: 550;
}
.clannel{
    font-size: 13px;
    font-weight: 550;
    color: gray;
    margin-top: 40px;
    margin-left: 13px;
    height: 140px;
}
.add{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    height: 100px;
}
.clannel img {
    border-radius: 20%;
    display: block;
    text-align: center;
    margin-left: 10px;
}
#kokoa2{
    margin-left: 20px;
}
.lower {
    border: 2px solid rgb(228, 228, 228);
    border-bottom: none;
    border-left: none;
    border-right: none;
    justify-content: space-around;
    height: 43px;
    font-size: 22px;
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
    text-align: center; 
}