body {
    margin:0px;
}
.service {
    font-size: 11px;
    display: flex;
    justify-content :space-between;
    margin: 3px;
}
.Friends {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 650;
    margin-left:13px; 
    margin-right:13px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.Friends i {
    font-size: 15px;
    margin-left:22px; 
}
.setttings{
    background-color: white;
    border: none;
}
.gray {
    font-size: 15px;
    text-align: center; 
    line-height: 35px;
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
}
.gray i {
    color: rgb(168, 165, 165);
}
.profile {
    display: flex;
    font-size: 18px;
    font-weight: 550;
    height: 90px;
    margin-left: 15px;
}
.profile img {
    margin-top: 8px;
    border-radius: 30%;
    overflow: hidden;
}
.profile div {
    margin-top: 25px;
    margin-left: 15px;
    text-align: center;
}
.clannel{
    border : 1px solid rgb(197, 195, 195);
    border-bottom: none;
    border-left: none;
    border-right: none;
    
    margin-left: 15px;
    margin-right: 15px;

    height: 45px;

    display: flex;
    justify-content: space-between;

    font-size: 14px;
    color: rgb(168, 165, 165);
}
.clannel p {
    margin-top: 5px;
}
.clannel i {
    margin-top: 10px;
    font-size: 8px;
}
.friend {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}
.chatt{
    display: flex;
}
.friend img{
    border-radius: 40%;
    overflow: hidden;
}
#name {
    margin-top: 11px;
    margin-left: 15px;
}
#num {
    font-size: 10px;
    color: rgb(202, 197, 197);
    margin-top: 15px;
}
.lower {
    position: fixed;
    display: flex;
    bottom: 0px;
    align-items: center;
    width: 100%;
    
    border: 2px solid rgb(228, 228, 228);
    border-bottom: none;
    border-left: none;
    border-right: none;
    justify-content: space-around;
    height: 43px;
    background-color: rgb(247, 247, 247);
}
.lower button {
    border: none;
    background-color: rgb(247, 247, 247);
    width: 10;
    margin-top: 2px;
}
.Second{
    display: flex;
}
.one{
    border-radius: 60%;
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
}
.lower button i {
    color: black;
    font-size: 22px;
}