body {
    margin:0px;
}
.service {
    font-size: 11px;
    display: flex;
    justify-content :space-between;
    margin: 3px;
}
.Friends {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 800;
    margin-right:20px;
    margin-left:20px;
    margin-bottom: 5px;
    margin-top: -5px;
    height: 60px;
}
.Friends i {
    font-weight: lighter;
    font-size: 15px;
    margin-top: 12px;
}
.tag {
    display: block;
    color: rgb(82, 82, 82);
    margin-left:20px;
    margin-right: 20px;
}
.tag i {
    font-size: 15px;
    display: flex;
    margin-bottom: 18px;
    border: 1.5px solid rgb(228, 228, 228);
    border-top: none;
    border-left: none;
    border-right: none;
    height: 28px;
}
.Notices {
    font-size: 13px;
    margin-left: 10PX;
}
.Lab {
    font-size: 13px;
    margin-left: 10PX;
}

.last{
    display: flex;
    justify-content: space-between;
    height: 28px;
    border: 1.5px solid rgb(228, 228, 228);
    border-top: none;
    border-left: none;
    border-right: none;
}
.op {
    font-size: 13px;
    margin-left: 10PX;
}
#bak {
    font-size: 13px;
    color: rgb(173, 173, 173);
}
.blank{
    height: 232px;
}
/*회색 박스 여백 없이 색 채우는 방법
+아이콘 버튼으로 만들기(html에서 버튼을 주고 아이콘을 씌우려느데 잘 안되 질문)*/
.lower {
    border: 2px solid rgb(228, 228, 228);
    border-bottom: none;
    border-left: none;
    border-right: none;
    justify-content: space-around;
    height: 43px;
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
    text-align: center; 
}
.lower button {
    border: none;
    background-color: rgb(247, 247, 247);
    width: 10;
    height: 40px;
    margin-top: 2px;
}
.Second {
    margin-left: 90px;
}
.third {
    margin-left: 90px;
}
.fourth {
    margin-left: 90px;
}
.lower button i {
    color: black;
    font-size: 22px;
}